* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
	overflow: hidden;
}
header {
	  background-image: url('https://github.com/Protoneurope/New-web/blob/gh-pages/EuNight.jpeg?raw=true');
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: 100% 100%;
}
 .container {
	width: 100%;
	height: 100%;

}
.menu ul{
	display: inline-flex;
	margin: 50px;
}

.menu ul li{
	list-style: none;
	margin: 0 20px;
	color: #b2b1b1;
	cursor: pointer;
}
.logo img{
	width: 100px;
	margin-top: -30px;
	margin-right: 28px;

}
.active{
	color: #d4d4d4 !important;
	padding: 12px 0;
	cursor: pointer;
	height: 15px;

}

.banner{
	width: 100%;
	height: 70%;
	top: 40%;
	/* left: 746.8px; */
	margin 0 auto;
	display: block;
	position: absolute;
	color: #010e40;
	text-align: center;
}

.banner h1 {
	font-size: 50px;
	position: relative;
	margin-left: 40px;
	color: #FFD700;
	text-align: center;
	margin: 0 auto 1rem;
}

.banner p {
	font-size: 30px;
	line-height: 1.4;
	color: #c2c2c2;
	text-align: center;
	margin: 0 auto;
}

.app-picture{
	width:50%;
	float:right;

}
.app-picture img{
	width:90%;
	margin-top: -20px;
	padding-left: 40px;
}
.play-btn{
	margin-left:30px;
	display: inline-flex;
}
.play-bnt-inner{
	height: 50px;
	width: 50px;
	border: 2px solid transparent;
	border-radius: 50%;
	background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
	background-origin:border-box;
	background-clip: content-box,border-box;
	text-align:center;
}
.play-btn-inner .fa{
	padding: 18px 0;
	font-size: 13px;
	cursor: pointer;
}
small{
	margin: auto 20px;
	cursor: pointer;
	font-size: 15px;
	color: #19dafa;
	letter-spacing: 1px;
}
.quick-links{
	left: 0;
	bottom: 0;
	position: absolute;
	background: linear-gradient(to right, #db1bf6,#19d7f8);
}
.quick-links ul{
display: inline-flex;
margin: 30px auto;
text-align: center;
}
.quick-links ul li{
	list-style: none;
	margin: 0 50px;
	cursor: pointer;

}
.quick-links ul li .fa{
	font-size: 25px;
	color: #fff;
}
.quick-links ul li p{
	margin-top: 15px;
	font-size: 15px;
	color: #fff;
}
.social-icons{
	right:72px;
	bottom: 35px;
	position: absolute;

}
.social-icons ul li{
	list-style: none;
	margin-top: 15px;
	text-align: center

}
.twitter-follow-button{
	color: #999;
	padding: 5px;
	display: block;

}
